<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6 well bs-component">
                    <h2>Chat-Bot</h2>
                    <div>
                        <ul id="messages"></ul>
                        <!-- <p>You : <em class="output-you">...</em></p>
                        <p>agent: <em class="output-bot">...</em></p> -->
                    </div>
                    <div>
                        <button><i class="fa fa-microphone"></i></button>
                    </div>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>
    </div>
    <section>
        <!-- <h1>Simple AI Bot</h1>
      <h2>with Web Speech API</h2> -->

        <!-- <button><i class="fa fa-microphone"></i></button>

        <div>
            <p>You : <em class="output-you">...</em></p>
            <p>AI replied: <em class="output-bot">...</em></p>
        </div> -->
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>

</html>